@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    text-align: center;
    font-size: xx-large;
    background-color: darkgrey;
    height: 6rem;
}

.grid-container {
    padding: 1rem;
    background-color: firebrick;
}
.standard-box{
    background-color: red;
    border-radius: 5px;
    border-color: black;
    padding: 2rem;
}

.frame{
    width: 100%;
    height: 100%
}